[submodule "local/modules/Klikandpay"]
	path = local/modules/Klikandpay
	url = https://github.com/thelia-modules/Klikandpay
[submodule "local/modules/Paypal"]
	path = local/modules/Paypal
	url = https://github.com/thelia-modules/Paypal.git
[submodule "local/modules/FreeShipping"]
	path = local/modules/FreeShipping
	url = https://github.com/thelia-modules/FreeShipping.git
