.headerAd {
    text-align: center;
    margin-bottom: 10px;
    border-radius: 0 0 @navbar-subnav-border-radius @navbar-subnav-border-radius;
    overflow: hidden;
    height: 120px;
}

.asideAd {
    height: 300px;
    text-align: center;
    margin-bottom: 10px;
}
